.custom-shape-divider-top-1593681652 {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
}

.custom-shape-divider-top-1593681652 svg {
  position: relative;
  display: block;
  width: calc(202% + 1.3px);
  height: 306px;
}

.custom-shape-divider-top-1593681652 .shape-fill {
  fill: #ffffff;
}
